@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/scrollbar-hide.css" />

<div class="container-fluid d-flex flex-row flex-nowrap">
    <div class="p-1 col-4">
        <div class="col-12 card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white"> MakeUp Products</div>
        </div>
        <div class="col-12 border d-flex m-0 p-0 pre-scrollable" style="height: 68vh; max-height: 80vh;">
            <div class="col-12">
                <div class="form-row mb-3">
                    <div class="col-5">
                        <b><label>Products Types<span class="form-required"></span></label></b>
                    </div>

                    <div class="col-4">
                        <b><label>Price <span class="form-required"></span></label></b>
                    </div>
                    <div class="col-3">
                        <b><label>Image <span class="form-required"></span></label></b>
                    </div>
                </div>
                <div class="col-12 cards row p-0">
                    <div class="col-12 card p-1 mt-1">
                        <div class="col-form-label-sm"></div>
                        <div class="form-row mb-2">
                            <div class="col-5">
                                <label>Face Primer<span class="form-required"></span></label>
                            </div>

                            <div class="col-4">
                                <label>152</label>
                            </div>
                            <div class="col-3">
                                <div class="card-img rounded-circle text-center"> <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OW5_TsXkV9YQ9dE1ki-2mW15TnZxuUD_nH_5bp_tA0ATE5R5_5tUjiRuMl505N1e8hBYClk&usqp=CAc" width="70"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-1 mt-1">
                        <button type="submit" class="btn btn-info w-100"><span class="text-white">Add</span></button>

                    </div>
                    <br />
                    <div class="col-12 card p-1 mt-1">
                        <div class="col-form-label-sm"></div>
                        <div class="form-row mb-2">
                            <div class="col-5">
                                <label>BB Cream<span class="form-required"></span></label>
                            </div>
                            <div class="col-4">
                                <label>105</label>
                            </div>
                            <div class="col-3">
                                <div class="card-img rounded-circle text-center"> <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM2vn3AJTGyKdAIAPNmX7bBQFCo_JKIEyyzHif39YFfikTxy0hbd8_uOGogLvoBIOwuZorl8A&usqp=CAc" width="70"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-1 mt-1">
                        <button type="submit" class="btn btn-info w-80"><span class="text-white">Add</span></button>
                    </div>
                  
                    <br />
                    <div class="col-12 card p-1 mt-1">
                        <div class="col-form-label-sm"></div>
                        <div class="form-row mb-2">
                            <div class="col-5">
                                <label>Bronzer<span class="form-required"></span></label>
                            </div>
                            <div class="col-4">
                                <label> 90</label>
                            </div>
                            <div class="col-3">
                                <div class="card-img rounded-circle text-center"> <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPCvsFDRsi5Sxb-rbRoPdtjGq-1s--YqX9pg&usqp=CAU" width="70"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-1 mt-1">
                        <button type="submit" class="btn btn-info w-100"><span class="text-white">Add</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-1 col-4">
        <div class="card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white">  Order Processing</div>
        </div>
        <div class="col-12 p-0">
            <div class="col-12 border" style="height:48vh; max-height:90vh;">

                <div class="col-12 d-flex flex-wrap justify-content-between bg-white border-bottom">
                    <div class="col-8 d-inline"> Name </div>
                    <div class="col-4 d-inline text-right">
                        <span>23 RM</span>
                    </div>
                </div>

                <div class="col-12 d-flex flex-wrap justify-content-between bg-white border-bottom">
                    <div class="col-8 d-inline"> Name </div>
                    <div class="col-4 d-inline text-right">
                        <span>23 RM</span>
                    </div>
                </div>

                <div class="col-12 d-flex flex-wrap justify-content-between bg-white border-bottom">
                    <div class="col-8 d-inline"> Name </div>
                    <div class="col-4 d-inline text-right">
                        <span>23 RM</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 row h-25 m-0 p-0">
            <div class="col-6 card p-0">
                <div class="p-2 mb-1 bg-primary text-white"> Total price : <span> 156 RM</span></div>
            </div>
            <div class="col-6 card">
                <p class="text-center">
                    <label>Order Confirm </label>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                    </div>
            </div>
        </div>
    </div>

    <div class="p-1 col-4">
        <div class="card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white">  Order Completed</div>
        </div>
        <div class="col-12 p-0">
            <div class="col-12 border" style="height:48vh; max-height:90vh;">
                <div class="col-12 d-flex flex-wrap bg-white border-bottom">
                    <div class="col-6 d-inline"> Name </div>
                    <div class="col-3 d-inline"> 23 </div>
                    <div class="col-3 d-inline text-right">
                        <button type="button" class="btn btn-info">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row h-25 m-0 p-0">
            <div class="col-6 card p-0">
                <div class="p-2 mb-1 bg-primary text-white"> Total Sold : <span> 3300 </span> RM</div>
            </div>
            <div class="col-6 card">
                <p class="text-center">
                    <label>Order Confirm </label>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Clear Data</button>
                    </div>
            </div>
        </div>
    </div>

</div>






