@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="siteorigin-widget-tinymce textwidget">
   
    <ul>
        <li>This Privacy Policy will assist you in understanding how we collect, use, disclose and/or process the Personal Data you have provided to 
        us or that we possess about you, as well as to assist you in making an informed decision before providing us with any of your Personal Data. .</li>
        <li>
            This Privacy Policy applies to the products, services, website(s) provided, mobile application(s) provided and/or the business conducted, by MakeUpSeller.
        </li>
        
    </ul>

</div>
